// MP Art Propel - Variables

:root {
    /* Primary color palette */
    --mp-dark-brown: #f8981a;
    --mp-medium-brown: #c87a27;
    --mp-light-brown: #bd651e;
    --mp-accent: #9a6125;
    --mp-beige: #F5EFE0;
    --mp-white: #FFF9ED;
    --mp-text-dark: #874d0f;
    --mp-text-light: #F5EFE0;
    --mp-blue-hover: #b96d1b;
  --mp-blue-glow: rgba(214, 139, 20, 0.3);
    /* Typography */
    --mp-heading-font: 'Poppins', sans-serif;
    --mp-body-font: 'Poppins', sans-serif;
    
    /* Spacing */
    --section-padding: 80px 0;
  }