// MP Art Propel - Variables

:root {
    /* Primary color palette */
    --mp-dark-brown: #051151;
    --mp-medium-brown: #0a1868;
    --mp-light-brown: #191478;
    --mp-accent: #0408f8;
    --mp-beige: #F5EFE0;
    --mp-white: #FFF9ED;
    --mp-text-dark: #15769f;
    --mp-text-light: #F5EFE0;
    --mp-blue-hover: #1a28c5;
  --mp-blue-glow: rgba(0, 91, 194, 0.3);
    /* Typography */
    --mp-heading-font: 'Poppins', sans-serif;
    --mp-body-font: 'Poppins', sans-serif;
    
    /* Spacing */
    --section-padding: 80px 0;
  }